* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(288deg, #c2e9fb 0%, #a1c4fd 100%);
  font-size: 1.6rem;
  font-weight: 400;

  display: grid;
  place-items: center;
  height: 100vh;
}

p, button, input {
  font-family: 'DM Sans', sans-serif;
}

.hide {
  display: none;
}

main {
  border-radius: 0.6rem;
  background: #fff;
  box-shadow: 0rem 0.2rem 0.4rem 0rem rgba(0, 0, 0, 0.1);
  padding: 4.8rem 6.4rem 6.4rem;

  margin-top: -12rem;
  width: min(42.8rem, 90%);

  text-align: center;
}


/* === screen1 ======== */
p, h1 {
  color: #34355B;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  color: #34355B;
}

p {
  margin-block: 1.6rem 4.8rem;
  opacity: .8;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input, button {
  padding: 1.6rem;
}

input {
  color: #34355B;

  width: 5rem;

  text-align: center;
  border: none;
  border-radius: 4px 0px 0px 4px;
  background: #DCE2E9;
  outline: none;
}


/* retira as setas do input - type number */
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

button {
  font-weight: 700;
  color: #fff;

  border: none;
  border-radius: 0px 4px 4px 0px;
  background: #7879F1;
  cursor: pointer;
  transition: background 250ms;
}

button:hover {
  background: #6666ce;
}

/* === screen2 ======== */
h2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;

  margin-bottom: 3.3rem;
}

.screen2 button {
  border-radius: .4rem;
}

.hide {
  display: none;
}